body {
    background-color: rgb(231, 212, 212); 
}

.grid-container {
    display: flex;
    justify-content: center;
    
}

.grid {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr); 
    gap: 0.5px;
    box-shadow: 10px 10px 10px grey;
    
}   


.item {
    border: 0.5px solid black;
    background-color: whitesmoke;
}

.header {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
